<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pcmultiselect</name>
	<displayName><![CDATA[Advanced multi selection Module]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[This is a advanced ui selector]]></description>
	<author><![CDATA[Purecobalt]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>